@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
nav {
    display: flex;
    flex-direction: column;
    margin:10px;
}
nav h3{
    font-size:25px;
}
nav a{
    text-decoration: none;
    font-size: 18px;
}