*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: arial;
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.container{
  max-width: 500px;
  width: 100%;
  padding: 0 0px 20px 0px;
  border: 1px solid rgb(19, 231, 19);
  border-radius: 5px 5px 0 0;
}
.container h1{
  color: white;
  background-color: rgb(19, 231, 19);
  text-align: center;
  height: 70px;
  padding-top: 15px;
  border-radius: 5px 5px 0 0;
}

.container .btns1,
.btns2{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.heads-tails-button{
  height: 120px;
  width: 120px;
  border-radius:70px;
  background-color: white;
  border: none;
}

button img{
  height: 100px;
  width: 100px;
  border-radius: 80px;
  cursor: pointer;
}

.js-img{
  height: 75px;
  width: 75px;
  border-radius: 80px;
}

.result{
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

.move{
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
}

.score{
  text-align: center;
  margin-top: 20px;
}

.reset-button{
  padding: 10px 15px;
  color: white;
  border: none;
  font-size: 15px;
  background-color: rgb(19, 231, 19);
  cursor: pointer;
  margin-right: 10px;
}
.autoplay-button{
  padding: 9px 14px;
  border: 1px solid  rgb(19, 231, 19);
  font-size: 15px;
  background-color: white;
  cursor: pointer;
}

.wins-record{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}



