.todo-item{
  display: grid;
  grid-template-columns:1fr 1fr 100px 100px;
  gap: 10px;
  align-items: center;
  margin-bottom: 12px;
}

.todo-item button{
  padding: 6px 10px;
  cursor: pointer;
}

.completed div:first-child {
  text-decoration: line-through;
  color: gray;
}

.edit-input{
  font-size: 16px;
  padding: 4px;
  width: 100%;
  box-sizing: border-box;
}

.error {
  border: 2px solid #ff4d4d;
  background-color: #ffe5e5;
}
.edit-input::placeholder{
  color: #ff4d4d;
  opacity: 0.9;
}

.filters button.active{
  background-color: #007bff;
  color: white;
  border-radius: 4px;
}

