@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-card{
  width: 90%;
  max-width: 480px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}
.main-card .title{
  background-color: #4fc3f7;
  padding: 10px 30px;
  border-radius: 6px 6px 0 0;
}
.title h1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 33px;
}
.title h1 i {
  font-size: 28px;
}
.main-card .input-area{
  width: 100%;
  max-width: 480px;
  margin: 15px 0;
  padding: 0 20px;
}
 /*.input-area input[type="text"]{
  flex: 1;
  max-width: 150px;
}
  */
.input-area input{
  width: 100%;
  max-width: 170px;
  margin-right: 15px;
  border-radius: 8px;
  padding: 6px 8px;
  color: gray;
  font-size: 16px;
  background-color: #f9fbfc;
  border: 1.5px solid #cfd8dc;
  outline: none;
  transition: 0.25s;
}
.input-area input:focus{
  border-color: #4fc3f7;
  box-shadow: 0px 0px 6px rgba(79, 195, 247, 0.4);
}
.input-area button{
  padding: 6px 14px;
  background: #4fc3f7;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.25s;
}
.input-area button:hover{
  background: #0ca7f0;
  transform: scale(1.05);
}
.filters{
  display: flex;
  justify-content:flex-start;
  gap: 10px;
  margin: 20px 0;
  padding: 0px 20px;
  width: 100%;
}
.filters button{
  font-family: Poppins,sans-serif;
  font-size: 14px;
  background-color:#f9fbfc;
  padding: 3px 8px;
  border: 1px solid #4fc3f7;
  border-radius: 6px;
  cursor: pointer;
  transition: ease 0.25s;
}
.filters button:nth-child(1){
  margin-right: 20px;
  border: 1.5px solid none;
  background-color: #4fc3f7;
  color: #ffffff;
}
.filters button:nth-child(1):hover{
  transform: scale(1.05);
}
.filters button:nth-child(2){
  padding: 3px 16px;
}
.filters button:nth-child(2):hover,
.filters button:nth-child(3):hover,
.filters button:nth-child(4):hover{
  color: #ffffff;
  background-color:#4fc3f7;
  transform: scale(1.05);
}
.lists{
  backgroud: red;
}

.todo-item{
  display: grid;
  grid-template-columns:1fr 1fr 100px 100px;
  gap: 10px;
  align-items: center;
  margin-bottom: 12px;
  padding: 0 20px;
}

.todo-item button{
  padding: 6px 10px;
  cursor: pointer;
}

.completed div:first-child {

  text-decoration: line-through;
  color: gray;
}

.edit-input{
  font-size: 16px;
  padding: 4px;
  width: 100%;
  box-sizing: border-box;
}

.error {
  border: 2px solid #ff4d4d;
  background-color: #ffe5e5;
}
.edit-input::placeholder{
  color: #ff4d4d;
  opacity: 0.9;
}

.filters button.active{
  background-color: #007bff;
  color: white;
  border-radius: 4px;
}

